# =========================
# IDE/Editor
# =========================

.vscode/
.idea/

# =========================
# Build
# =========================

*build/

# =========================
# CMake
# =========================

CMakeLists.txt.user